/* <Variables> */
/* </Variables? */
html {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  margin: 0%;
}

body {
  background-image: radial-gradient(circle, #11004e, #000025);
  background-attachment: fixed;
  background-size: cover;
  margin: 0%;
}

#navbar_container {
  background-color: rgba(0, 0, 37, 0.8);
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #2c0f92;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /*-----------------------------clicked---------------------------------------*/
  /*-----------------------------unclicked---------------------------------------*/
  /*-----------------------------expanded---------------------------------------*/
}
#navbar_container .Logo_container {
  font-size: 2.5rem;
}
#navbar_container .option_container_clicked {
  position: absolute;
  width: 10.5rem;
  height: 7rem;
  transform: scale(1);
  right: 0.5rem;
  top: 7rem;
}
#navbar_container .option_container_clicked .option_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#navbar_container .option_container_clicked .options_div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#navbar_container .option_container_clicked .options_div:hover {
  background-color: rgba(44, 15, 146, 0.5);
  box-shadow: 0px 0px 20px #2c0f92;
}
#navbar_container .option_container_clicked .dot_div {
  border: 1px rgba(118, 103, 170, 0.8) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50rem;
}
#navbar_container .option_container_clicked .option_btn {
  border: 1px rgba(118, 103, 170, 0.8) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 7.5rem;
  height: 1.5rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
#navbar_container .option_container_clicked .option_btn label {
  display: block;
}
#navbar_container .option_container_unclicked {
  border-radius: 1rem;
  position: absolute;
  width: 9rem;
  height: 5rem;
  transform: scale(0.8);
  right: -0.5rem;
}
#navbar_container .option_container_unclicked:hover {
  background-color: rgba(44, 15, 146, 0.5);
  box-shadow: 0px 0px 20px #2c0f92;
}
#navbar_container .option_container_unclicked .option_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#navbar_container .option_container_unclicked .options_div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#navbar_container .option_container_unclicked .dot_div {
  border: 1px rgba(118, 103, 170, 0.8) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 1rem;
  height: 1rem;
  border-radius: 50rem;
}
#navbar_container .option_container_unclicked .option_btn {
  border: 1px rgba(118, 103, 170, 0.8) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 7rem;
  height: 1rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
#navbar_container .option_container_unclicked .option_btn label {
  display: none;
}
#navbar_container .option_container_expanded {
  position: relative;
  height: 7rem;
  transform: scale(1);
  right: 0.5rem;
}
#navbar_container .option_container_expanded .option_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}
#navbar_container .option_container_expanded .options_div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#navbar_container .option_container_expanded .options_div:hover {
  background-color: rgba(44, 15, 146, 0.5);
  box-shadow: 0px 0px 20px #2c0f92;
}
#navbar_container .option_container_expanded .dot_div {
  display: none;
}
#navbar_container .option_container_expanded .option_btn {
  border: 1px rgba(118, 103, 170, 0.8) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 7.5rem;
  height: 2rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
#navbar_container .option_container_expanded .option_btn label {
  display: block;
}

#content_container {
  border: 1px red solid;
  position: relative;
  top: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#content_container #My_pic {
  width: 8rem;
  border-radius: 50%;
}

@media (min-width: 475px) {
  #content_container {
    flex-direction: row;
  }
  #content_container #My_pic {
    width: 12.5rem;
    border-radius: 50%;
  }
  #content_container .Txt_Name {
    font-size: 3rem;
  }
  #content_container .Txt_Description {
    font-size: 2rem;
  }
}
@media (min-width: 640px) {
  .option_wrapper {
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  h1 {
    color: indigo;
  }
}/*# sourceMappingURL=style.css.map */