/* <Variables> */
/* </Variables> */
html {
  font-family: sans-serif;
  color: white;
  font-size: 10px;
  margin: 0%;
}
html .Accent_Text {
  color: hsl(242, 100%, 68%);
}

body {
  background-image: radial-gradient(circle, hsl(253, 100%, 15%), hsl(240, 100%, 7%));
  background-attachment: fixed;
  background-size: cover;
  margin: 0%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

#navbar_container {
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 0.5rem;
  box-shadow: 0px 3px 5px hsl(260, 80%, 35%);
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /*-----------------------------clicked---------------------------------------*/
  /*-----------------------------unclicked---------------------------------------*/
  /*-----------------------------expanded---------------------------------------*/
}
#navbar_container .Logo_container {
  font-size: 2.5rem;
}
#navbar_container .option_container_clicked {
  position: absolute;
  width: 10.5rem;
  height: 10rem;
  transform: scale(1);
  right: 0.5rem;
  top: 7rem;
}
#navbar_container .option_container_clicked .option_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@keyframes fadein_clicked {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#navbar_container .option_container_clicked .options_div {
  border-radius: 0.5rem;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fadein_clicked 1s ease-in-out;
}
#navbar_container .option_container_clicked .options_div:active {
  background-color: rgba(44, 15, 146, 0.5);
  box-shadow: 0px 0px 20px #2c0f92;
}
#navbar_container .option_container_clicked .dot_div {
  border: 1px hsl(58, 100%, 77%) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 2rem;
  height: 2rem;
  border-radius: 50rem;
}
#navbar_container .option_container_clicked .option_btn {
  border: 1px hsl(58, 100%, 77%) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 7.5rem;
  height: 2rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
#navbar_container .option_container_clicked .option_btn label {
  display: block;
}
#navbar_container .option_container_unclicked {
  border-radius: 1rem;
  position: absolute;
  width: 9rem;
  height: 5rem;
  transform: scale(0.8);
  right: -0.5rem;
}
#navbar_container .option_container_unclicked:hover {
  background-color: rgba(44, 15, 146, 0.5);
  box-shadow: 0px 0px 20px #2c0f92;
}
#navbar_container .option_container_unclicked .option_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@keyframes fadein_unclicked {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#navbar_container .option_container_unclicked .options_div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fadein_unclicked 0.5s ease-in-out;
}
#navbar_container .option_container_unclicked .dot_div {
  border: 1px hsl(58, 100%, 77%) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 1rem;
  height: 1rem;
  border-radius: 50rem;
}
#navbar_container .option_container_unclicked .option_btn {
  border: 1px hsl(58, 100%, 77%) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 7rem;
  height: 1rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
#navbar_container .option_container_unclicked .option_btn label {
  display: none;
}
#navbar_container .option_container_expanded {
  position: relative;
  height: 7rem;
  transform: scale(1);
  right: 0.5rem;
}
#navbar_container .option_container_expanded .option_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}
#navbar_container .option_container_expanded .options_div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#navbar_container .option_container_expanded .dot_div {
  display: none;
}
#navbar_container .option_container_expanded .option_btn {
  border: 1px hsl(58, 100%, 77%) solid;
  background-color: rgba(0, 0, 0, 0.7);
  width: 7.5rem;
  height: 2rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
#navbar_container .option_container_expanded .option_btn label {
  display: block;
}
#navbar_container .option_container_expanded .option_btn:hover {
  box-shadow: 0px 0px 20px #2c0f92;
}
#navbar_container .option_container_expanded .option_btn:focus {
  outline: none !important;
  box-shadow: 0px 0px 20px #2c0f92;
}

#main_content {
  border: 1px orangered solid;
  position: fixed;
  overflow-y: scroll;
  top: 6rem;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#main_content .contents_div {
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#main_content #content_1_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0%;
}
#main_content #content_1_container #My_pic_div {
  overflow: hidden;
}
#main_content #content_1_container #My_pic_div #My_pic {
  width: 8rem;
  border-radius: 50%;
}
#main_content #content_1_container #Txt_My_pic {
  overflow: hidden;
}
#main_content #content_1_container #Txt_My_pic .Txt_Name {
  font-size: 3rem;
}
#main_content #content_1_container #Txt_My_pic .Txt_Description {
  font-size: 2rem;
}
#main_content #content_1_container #Txt_My_pic label {
  font-weight: bold;
}

@media (min-width: 475px) {
  #navbar_container {
    height: 8rem;
  }
  #main_content {
    top: 8rem;
    flex-direction: row;
    gap: 1rem;
  }
  #main_content .contents_div {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #main_content #content_1_container {
    flex-direction: row;
  }
  #main_content #content_1_container #My_pic_div {
    border-right: 2px white solid;
    padding-right: 0.5rem;
  }
  #main_content #content_1_container #My_pic_div #My_pic {
    width: 12.5rem;
    border-radius: 50%;
  }
  #main_content #content_1_container #Txt_My_pic {
    padding-left: 0.5rem;
  }
}
@media (min-width: 640px) {
  #main_content {
    top: 8rem;
    flex-direction: row;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  #main_content .contents_div {
    transform: scale(1.1);
  }
}
@media (min-width: 1024px) {
  h1 {
    color: indigo;
  }
}
@media (min-width: 1280px) {
  h1 {
    color: indigo;
  }
}
@media (min-width: 1536px) {
  h1 {
    color: indigo;
  }
}/*# sourceMappingURL=style.css.map */