/* <Variables> */
    $Dborder_R: 1px red solid;
    $Dborder_C: 1px cyan solid;
    $Dborder_L: 1px lime solid;

    $Txt_Size_1: 1rem;
    $Txt_Size_2: 2rem;
    $Txt_Size_3: 3rem;
    $Txt_Size_4: 4rem;
    $Txt_Size_5: 5rem;

    $Background_Color: hsl(253, 100%, 15%), hsl(240, 100%, 7%);
    $Primary_Color: hsl(240, 100%, 7%);
    $Secondary_Color: hsl(253, 100%, 15%);
    $Accent_Color: hsl(58, 100%, 77%);
    $Text_Color: white;
    $Text_Accent_Color: hsl(242, 100%, 68%);

    $__old_Accent_color: rgba(118, 103, 170, 0.8);
/* </Variables> */

html {
    font-family: sans-serif;
    color: $Text_Color;
    font-size: 10px;
    margin: 0%;

    .Accent_Text {
        color: $Text_Accent_Color;
    }
}
body {
    background-image: radial-gradient(circle, $Background_Color);
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    // box-shadow: 0px 0px 0.1rem 0.1rem rgba(255, 255, 255, 0.5);
}



#navbar_container {
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px hsl(260, 80%, 35%);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .Logo_container {
        font-size: 2.5rem;
    }


/*-----------------------------clicked---------------------------------------*/
    .option_container_clicked {
        // border: $Dborder_R;
        position: absolute;
        width: 10.5rem;
        height: 10rem;
        transform: scale(1);
        right: 0.5rem;
        top: 7rem;

        .option_wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }
        
            @keyframes fadein_clicked {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .options_div {
                // border: $Dborder_L;
                border-radius: 0.5rem;
                width: 100%;
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                animation: fadein_clicked 1s ease-in-out;

                &:active {
                    background-color: rgba(44, 15, 146, 0.5);
                    box-shadow: 0px 0px 20px #2c0f92;
                }
            }
                .dot_div {
                    border: 1px $Accent_Color solid;
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50rem;
                }
                .option_btn {
                    border: 1px $Accent_Color solid;
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 7.5rem;
                    height: 2rem;
                    border-radius: 50rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;

                    label {
                        display: block;
                    }
                }
    }
/*-----------------------------unclicked---------------------------------------*/
    .option_container_unclicked {
        // border: $Dborder_R;
        border-radius: 1rem;
        position: absolute;
        width: 9rem;
        height: 5rem;
        transform: scale(0.8);
        right: -0.5rem;   
    &:hover {
        background-color: rgba(44, 15, 146, 0.5);
        box-shadow: 0px 0px 20px #2c0f92;
    }

        .option_wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }
            @keyframes fadein_unclicked {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .options_div {
                width: 100%;
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                animation: fadein_unclicked 0.5s ease-in-out;
            }
                .dot_div {
                    border: 1px $Accent_Color solid;
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50rem;
                }
                .option_btn {
                    border: 1px $Accent_Color solid;
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 7rem;
                    height: 1rem;
                    border-radius: 50rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    label {
                        display: none;
                    }
                }

    }
/*-----------------------------expanded---------------------------------------*/
    .option_container_expanded {
        // border: $Dborder_R;
        position: relative;
        height: 7rem;
        transform: scale(1);
        right: 0.5rem;

        .option_wrapper {
            // border: $Dborder_R;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 1rem;
        }
            .options_div {
                width: 100%;
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: space-around;

            }
                .dot_div {
                    display: none;
                }
                .option_btn {
                    border: 1px $Accent_Color solid;
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 7.5rem;
                    height: 2rem;
                    border-radius: 50rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;

                    label {
                        display: block;
                    }

                    &:hover {
                        // background-color: rgba(44, 15, 146, 0.5);
                        box-shadow: 0px 0px 20px #2c0f92;
                    }

                    &:focus {
                        outline: none !important;
                        // background-color: rgba(44, 15, 146, 0.5);
                        box-shadow: 0px 0px 20px #2c0f92;
                    }

                }
    }
}


#main_content {
    // border: 1px orangered solid;
    position: fixed;
    overflow-y: scroll;
    top: 6rem;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .contents_div {
        // border: $Dborder_L;
        position: relative;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #content_1_container {
        // border: $Dborder_C;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 0%;
    
        #My_pic_div {
            // border: $Dborder_C;
            overflow: hidden;

            #My_pic {
                width: 8rem;
                border-radius: 50%;
            }
        }
    
        #Txt_My_pic {
            // border: $Dborder_C;
            overflow: hidden;

            .Txt_Name {
                // border: $Dborder_L;
                font-size: $Txt_Size_3;
            }
        
            .Txt_Description {
                // border: $Dborder_L;
                font-size: $Txt_Size_2;
            }
        
            label {
                font-weight: bold;
            }
        }
    }
}




@media (min-width: 475px) { //current wide menu display is set to 475px
    
    #navbar_container {
        height: 8rem;
    }

    #main_content {
        top: 8rem;
        flex-direction: row;
        gap: 1rem;
    
        .contents_div {
            position: relative;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    
        #content_1_container {
            flex-direction: row;

            #My_pic_div {
                border-right: 2px white solid;
                padding-right: 0.5rem;
    
                #My_pic {
                    width: 12.5rem;
                    border-radius: 50%;
                }
            }
        
            #Txt_My_pic {
                padding-left: 0.5rem;

            }
        }
    }
}

@media (min-width: 640px) { 
    #main_content {
        top: 8rem;
        flex-direction: row;
        gap: 1rem;
    
    }
}

@media (min-width: 768px) {
    #main_content {
    
        .contents_div {
            transform: scale(1.1);
        }
    }
}

@media (min-width: 1024px) {
    h1 {
        color: indigo;
    }
}

@media (min-width: 1280px) {
    h1 {
        color: indigo;
    }
}

@media (min-width: 1536px) {
    h1 {
        color: indigo;
    }
}